body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

.profile-image img{
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
  border: 3px solid #004080;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 64, 128, 0.6);
}
.caption {
  margin-top: 10px;
  color: #000000;
  text-align: center;
}


nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease;
  padding: 8px 12px;

}
nav a:hover {
  background-color: #ffcc00;
  color: #004080;
  
}


section {
  padding: 20px;
}

.boxed {
  border: 3px solid #004080;
  border-radius: 10px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 64, 128, 0.6);
}

.project img, .art-gallery img {
  width: 100%;
  max-width: 400px;
  border: 2px solid #004080;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 64, 128, 0.6);

}

footer {
  text-align: center;
  padding: 10px;
  background-color: #004080;
  color: white;
}